* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Defines bg color for document */
body {
  background-color: #d9dcd6;
}

/* Style header colors, font, and padding
Changed first div to header and updated css to match*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* Company name formatting */
h1 {
  display: inline-block;
  font-size: 48px;
}

/* Additional Company name formatting */
header h1 .seo {
  color: #d9dcd6;
}

/* Nav-bar font, positiong, and padding/margin set 
Changed div to nav, removed the list, and updated css to match*/
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Formatting the links within the navbar */
nav a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}

/* Define normal font size for text */
p {
  font-size: 16px;
}

/* Formatting main big image on the site */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Defining float classes to position the images in the content section */
.float-left {
  float: left;
  margin-right: 25px;
}
.float-right {
  float: right;
  margin-left: 25px;
}

/* Defines class to format the content section on the right */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Defines class to format the benefit section on the right */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Combined the three benefit classes into one css class  */
.benefit-card {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Combined the three benefit classes defining the h3 font into one css class  */
.benefit-card h3 {
  text-align: center;
}

.benefit-img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Defined 1 class to combine the three different content classes and style same as before */
.content-card {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Define max-image size for content card images */
.content-card img {
  max-height: 200px;
}

/* Define font size for content card headers */
.content-card h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Change footer class to a semantic html element named footer and updated css to match */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Defines h2 font size in footer */
footer h2 {
  font-size: 20px;
}
